*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

/* untuk body */
@font-face {
    font-family: 'FreeSans';
    src: url('https://hendranextgen.github.io/20220114/css/fonts/FreeSans.ttf');
}
/* untuk logo */
@font-face {
    font-family: 'Dyuthi';
    src: url('https://hendranextgen.github.io/20220114/css/fonts/Dyuthi-Regular.ttf');
}
/* untuk menu navigasi */
@font-face {
    font-family: 'FreeSerif';
    src: url('https://hendranextgen.github.io/20220114/css/fonts/FreeSerif.ttf');
}
/* untuk h2 */
@font-face {
    font-family: 'Chilanka';
    src: url('https://hendranextgen.github.io/20220114/css/fonts/Chilanka-Regular.otf');
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'FreeSans';
}

/*.logo a{
    margin-top: 5px;
    font-size: 45px;
    font-weight: 600;
    float: left;
    font-family: 'Dyuthi';
    color: #35858B;
}*/

.navbar-brand {
    font-size: 45px;
    font-weight: 500;
    font-family: 'Dyuthi';
    color: #35858B;
}

/* .menu{
    float: right;
    font-family: 'FreeSerif';
} */

nav{
    width: 100%;
    margin: auto;
    /* display: flex; */
    /*line-height: 80px;*/
    /*position: sticky; /* agar menu tetap muncul saat website di scroll */
    /*position: -webkit-sticky; /* khusus untuk safari web browser */
    top: 0;
    background: #EEF2FF;
    z-index: 1;
    border-bottom: 1px solid #35858B;
}

nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

nav ul li{
    float: left;
}

nav ul li a{
    color: black;
    font-weight: bold;
    text-align: center;
    /*padding: 0px 16px 0px 16px; /* atas kanan bawah kiri */*/
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline; /* garis bawah saat mouse diarahkan ke menu */
}

/* section {
    padding-top: 7rem;
    margin: auto;
    display: flex; /* akan membuat bagian div jadi berbentuk kolom */
    /*margin-bottom: 50px;
} */
/* 
.kolom{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
} */

/* .kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #35858B;
    margin-bottom: 20px;
} */

h2 {
    font-family: 'Chilanka';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 10px;
    color: #35858B;
    width: 100%;
    line-height: 50px;
}

a.btn-biru {
    background: #35858B;
    border-radius: 20px;
    padding: 15px 20px 15px 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

a.btn-biru:hover {
    background: #8946A6;
    text-decoration: none;
}

a.btn-pink {
    background: #35858B;
    border-radius: 20px;
    padding: 15px 20px 15px 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

a.btn-pink:hover {
    background: #8946A6;
    text-decoration: none;
}

/* p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
} */

/* .tengah {
    text-align: center;
    width: 100%;
} */

/* .tutor-list {
    width: 100%;
    position: relative;
    display: flex; /* agar berbentuk seperti kolom-kolom */
    /*flex-wrap: wrap; /* supaya tidak memanjang jadi 1 baris */
/*} */

/* .kartu-tutor {
    width: 25%;
    margin: 0 auto;
} */

/* .kartu-tutor img {
    width: 80%; /* 80% dari ukuran div di atasnya (.kartu-tutor) */
    /*border-radius: 50%; /* untuk bentuk lingkaran */
    /*border: 1px solid #35858B;
} */

/* .kartu-tutor p {
    font-family: 'Chilanka';
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    color: #35858B;
} */

/* .partner-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
} */

/* .kartu-partner {
    width: 20%;
    margin: 0 auto;
} */

/* .kartu-partner img {
    width: 150px;
    border-radius: 50%;
    border: 1px solid #35858B;
} */

#contact {
    background: #dedede;
    padding: 50px 0px 40px 0px;
}

/* .footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
} */

.footer-section {
    width: 20%;
    margin: 0 auto;
}

h3 {
    font-family: 'Chilanka';
    font-weight: 800;
    font-size: 25px;
    margin-bottom: 20px;
    color: #35858B;
    width: 100%;
    line-height: 50px;
}
/* 
#copyright {
    text-align: center;
    width: 100%;
    padding: 10px 0px 10px 0px;
    margin-top: 0px;
    font-size: 10px;
    color: #8946A6;
} */

/*@media screen and (max-width: 1100px) {
    .wrapper {
        width: 90%;
    }

    .logo a {
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }

    .kartu-tutor {
        width: 50%;
    }

    .kartu-partner {
        width: 50%;
    }

    .footer-section {
        width: 50%;
    }
}*/